<div class='ps-container'>
  {{#liquid-bind slide use='crossFade' as |slide|}}
    <div class='ps-photo-centering'>
      <div class='ps-photo' style="background-image: url('{{slide.path}}');">
        {{#if media.isMobile}}
          <a {{action 'switchIdx' on='swipeRight'}}>
          </a>
        {{/if}}
      </div>
    </div>
    <div class='ps-titles'>
      <div class='ps-year'>
        <h1>{{slide.year}}</h1>
      </div>
      <div class='ps-data'>
        <h2>{{slide.levelFeet}}</h2>
        <h3>{{slide.levelMeter}}</h3>
      </div>
      <div class='ps-paragraph'>
        <h4>{{slide.paragraph}}</h4>
      </div>
    </div>
  {{/liquid-bind}}
</div>
