<div class='ps-container'>
  <div class='ps-left'>
    <div class='ps-titles'>
      <h1>{{currentSlide.title}}</h1>
      <h2>{{currentSlide.subtitle}}</h2>
      <h3>{{currentSlide.data}}</h3>
    </div>
  </div>
  <div class='ps-middle'>
    <div class='ps-photo'>
      <img src={{currentSlide.path}}>
    </div>
  </div>
  <div class='ps-right'>
    <div class='ps-description'>
      <p>{{currentSlide.description}}</p>
    </div>
  </div>
</div>
<div class='photo-links'>
  {{#each slides as |slide index|}}
    {{#if (eq currentSlideIdx index)}}
      <div class='photo-link'>
        <div class='selected'>
          <a {{action 'switchIdx' index}}>
            <img src={{slide.path}}>
          </a>
        </div>
      </div>
    {{else}}
      <div class='photo-link'>
        <a {{action 'switchIdx' index}}>
          <img src={{slide.path}}>
        </a>
      </div>
    {{/if}}
  {{/each}}
</div>
