<div class='ps-container'>
  <div class='ps-left'>
    <div class='ps-titles'>
      <h1>{{slide.title}}</h1>
      <h2>{{slide.subtitle}}</h2>
      <h3>{{slide.data}}</h3>
    </div>
  </div>
  <div class='ps-middle'>
    <div class='ps-photo'>
      <img src={{slide.path}}>
    </div>
  </div>
  <div class='ps-right'>
    <div class='ps-description'>
      <p>{{slide.description}}</p>
    </div>
  </div>
</div>
