<div class='pb-box-area'>
  {{#link-to 'exhibit' exhibit}}
    {{#if media.isMobile}}
      <div class='pb-content' style={{linkStyle}}>
        {{yield}}
      </div>
    {{else}}
      <div class='pb-content' style={{linkStyle}}>
        {{yield}}
      </div>
    {{/if}}
  {{/link-to}}
</div>
