<div class='pb-box-area'>
  {{#link-to href}}
    {{#if media.isMobile}}
      <div class='pb-content' style={{backgroundImage}} width="100%">
        {{yield}}
      </div>
    {{else}}
      <div class='pb-content' style={{backgroundImage}}>
        {{yield}}
      </div>
    {{/if}}
  {{/link-to}}
</div>
