<div class='ps-container'>
  {{photo-slide slide=currentSlide}}
</div>
<div class='photo-links'>
  <div class='photo-links-spacer'>
    <div class='nav-icon forward-icon'>
      <div class='arrow-placeholder'>
        {{#if showBackArrow}}
          <icon class='glyphicon glyphicon-triangle-left' {{action 'changeShowingIdx' -1}}></icon>
        {{/if}}
      </div>
    </div>
    {{#each showingSlides as |slide index|}}
      {{#if (eq currentSlideIdx index)}}
        <a {{action 'switchIdxManually' index}}>
          <div class='photo-link selected'>
            <img src={{slide.path}}>
          </div>
        </a>
      {{else}}
        <a {{action 'switchIdxManually' index}}>
          <div class='photo-link'>
            <img src={{slide.path}}>
          </div>
        </a>
      {{/if}}
    {{/each}}
    <div class='nav-icon backward-icon'>
      <div class='arrow-placeholder'>
        {{#if showForwardArrow}}
          <icon class='glyphicon glyphicon-triangle-right' {{action 'changeShowingIdx' 1}}></icon>
        {{/if}}
      </div>
    </div>
  </div>
</div>
