{{#title-bar home=true}}
  Tufa as a Benchmark
{{/title-bar}}
{{photo-slide slide=currentSlide}}
<div class='photo-links'>
  {{#each slides as |slide index|}}
    {{#if (eq currentSlideIdx index)}}
      <div class='photo-link'>
        <div class='selected'>
          <a {{action 'switchIdx' index}}>
            <img src={{slide.path}}>
          </a>
        </div>
      </div>
    {{else}}
      <div class='photo-link'>
        <a {{action 'switchIdx' index}}>
          <img src={{slide.path}}>
        </a>
      </div>
    {{/if}}
  {{/each}}
</div>
